*~
*.o
*.so
*.lo
*.a
*.la
*.loT
*.orig
*.rej
.libs
.deps

# /
/configure
/config.log
/config.nice
/config.status
/autom4te.cache
/aclocal.m4
/libtool
/Makefile.in
/Makefile

# /res-speech-vosk/
/res-speech-vosk/.libs
/res-speech-vosk/.deps
/res-speech-vosk/Makefile.in
/res-speech-vosk/Makefile

compile
config.guess
config.h.in
config.sub
depcomp
install-sh
ltmain.sh
m4/
missing